1. Reading the Rounds2, companies.txt files.

In [27]:
import pandas as pd
file1_path = 'companies.txt'
companies_data = pd.read_csv(file1_path, sep='\t')
companies_data

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/Organization/-Fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/Organization/-Qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/Organization/-The-One-Of-Them-Inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
3,/Organization/0-6-Com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
4,/Organization/004-Technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010
...,...,...,...,...,...,...,...,...,...,...
66363,/Organization/Zznode-Science-And-Technology-Co...,ZZNode Science and Technology,http://www.zznode.com,Enterprise Software,operating,CHN,22,Beijing,Beijing,NaN
66364,/Organization/Zzzzapp-Com,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,15,Split,Split,13-05-2012
66365,/Organization/ÃEron,ÃERON,http://www.aeron.hu/,NaN,operating,NaN,NaN,NaN,NaN,01-01-2011
66366,/Organization/Ã”Asys-2,Ã”asys,http://www.oasys.io/,Consumer Electronics|Internet of Things|Teleco...,operating,USA,CA,SF Bay Area,San Francisco,01-01-2014
66367,/Organization/Ä°Novatiff-Reklam-Ve-Tanä±Tä±M-H...,Ä°novatiff Reklam ve TanÄ±tÄ±m Hizmetleri Tic,http://inovatiff.com,Consumer Goods|E-Commerce|Internet,operating,NaN,NaN,NaN,NaN,NaN

In [28]:
file2_path = 'rounds2.csv'
rounds2_data = pd.read_csv(file2_path, sep = ',')
rounds2_data

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0
...,...,...,...,...,...,...
114944,/organization/zzzzapp-com,/funding-round/8f6d25b8ee4199e586484d817bceda05,convertible_note,NaN,01-03-2014,41313.0
114945,/ORGANIZATION/ZZZZAPP-COM,/funding-round/ff1aa06ed5da186c84f101549035d4ae,seed,NaN,01-05-2013,32842.0
114946,/organization/ eron,/funding-round/59f4dce44723b794f21ded3daed6e4fe,venture,A,01-08-2014,NaN
114947,/ORGANIZATION/ÔASYS-2,/funding-round/35f09d0794651719b02bbfd859ba9ff5,seed,NaN,01-01-2015,18192.0
114948,/organization/ novatiff-reklam-ve-tan t m-hizm...,/funding-round/af942869878d2cd788ef5189b435ebc4,grant,NaN,01-10-2013,14851.0

2. How many unique companies are present in rounds2?

In [29]:
unique_company = rounds2_data['company_permalink'].unique()
print(unique_company)
len(unique_company)

['/organization/-fame' '/ORGANIZATION/-QOUNTER' '/organization/-qounter'
 ... '/organization/ eron' '/ORGANIZATION/ÔASYS-2'
 '/organization/ novatiff-reklam-ve-tan t m-hizmetleri-tic']

90247

3. How many unique companies are present in the companies file?

In [30]:
unique_company2 = companies_data['permalink'].unique()
print(unique_company2)
len(unique_company2)

['/Organization/-Fame' '/Organization/-Qounter'
 '/Organization/-The-One-Of-Them-Inc-' ... '/Organization/Ã\x81Eron'
 '/Organization/Ã”Asys-2'
 '/Organization/Ä°Novatiff-Reklam-Ve-Tanä±Tä±M-Hizmetleri-Tic']

66368

 4.Write the code to convert companies[‘permalink’] and Round2[‘company_permalink’] columns to uppercase.

In [31]:
print(companies_data['permalink'].str.upper())
print(rounds2_data['company_permalink'].str.upper())

0                                      /ORGANIZATION/-FAME
1                                   /ORGANIZATION/-QOUNTER
2                      /ORGANIZATION/-THE-ONE-OF-THEM-INC-
3                                    /ORGANIZATION/0-6-COM
4                           /ORGANIZATION/004-TECHNOLOGIES
                               ...
66363    /ORGANIZATION/ZZNODE-SCIENCE-AND-TECHNOLOGY-CO...
66364                            /ORGANIZATION/ZZZZAPP-COM
66365                                 /ORGANIZATION/ÃERON
66366                               /ORGANIZATION/Ã”ASYS-2
66367    /ORGANIZATION/Ä°NOVATIFF-REKLAM-VE-TANÄ±TÄ±M-H...
Name: permalink, Length: 66368, dtype: object
0                                       /ORGANIZATION/-FAME
1                                    /ORGANIZATION/-QOUNTER
2                                    /ORGANIZATION/-QOUNTER
3                       /ORGANIZATION/-THE-ONE-OF-THEM-INC-
4                                     /ORGANIZATION/0-6-COM
                                ...
114944                            /ORGANIZATION/ZZZZAPP-COM
114945                            /ORGANIZATION/ZZZZAPP-COM
114946                                  /ORGANIZATION/ ERON
114947                                /ORGANIZATION/ÔASYS-2
114948    /ORGANIZATION/ NOVATIFF-REKLAM-VE-TAN T M-HIZM...
Name: company_permalink, Length: 114949, dtype: object

5. Are there any companies in the rounds2 file which are not present in companies.txt ?

In [32]:
# Extract unique company names from both DataFrames
rounds2_companies = set(rounds2_data['company_permalink'].str.lower())
companies_companies = set(companies_data['permalink'].str.lower())

# Find companies in rounds2 that are not in companies.txt
companies_not_in_companies_txt = rounds2_companies - companies_companies

print("Companies in rounds2 that are not present in companies.txt:")
# print(companies_not_in_companies_txt)
rounds2_companies - companies_companies

Companies in rounds2 that are not present in companies.txt:

{'/organization/ eron',
 '/organization/ novatiff-reklam-ve-tan t m-hizmetleri-tic',
 '/organization/10°north',
 '/organization/51wofang-ɨ ſ ƈ ƈ ',
 '/organization/adslinked™',
 '/organization/aesthetic-everything -social-network',
 '/organization/affluent-attaché-club-2',
 '/organization/allg u-outlet',
 '/organization/asiansbook\x84 ',
 '/organization/at lye-gri',
 '/organization/ax gaz',
 '/organization/b hner-eh-gmbh',
 '/organization/boréal-bikes-incorporated',
 '/organization/br v',
 '/organization/brasil-oz nio',
 '/organization/bricoprivé-com',
 '/organization/canal-da-pe a',
 '/organization/capptú',
 '/organization/contrato-r pido',
 '/organization/cop -active-ltd',
 '/organization/cr me-ciseaux',
 '/organization/crème-ciseaux',
 '/organization/desaf o-t ctico',
 '/organization/e-cêbica',
 '/organization/energystone-games-ǁ ǟ ƹ ƈ ',
 '/organization/etool-io\x94',
 '/organization/fr quentiel',
 '/organization/freem ',
 '/organization/gesto-sa de-e-tecnologia-3',
 '/organization/gráfica-en-línea',
 '/organization/huizuche-com-惠  车',
 '/organization/ignia-bienes-raíces',
 '/organization/ikig nde-com',
 '/organization/inveno-ȋ ũ ȯ ',
 '/organization/inveno-英威诺',
 '/organization/iproof---the-foundation-for-the-internet-of-things\x84 ',
 '/organization/it\x80 s-all-about-me',
 '/organization/jean-pütz-produkte',
 '/organization/jiwu-ő ű ǽ ',
 '/organization/jiwu-吉屋网',
 '/organization/k  k',
 '/organization/know\x80 n\x80 act',
 '/organization/lagou-com-ƌ ŋ ǽ ',
 '/organization/lawpàdí',
 '/organization/magnet-tech-ǣ ǟ ǧ ɗ ',
 '/organization/magnet-tech-磁   科暀',
 '/organization/mercado-electr nico',
 '/organization/ming-yaz l m',
 '/organization/monnier-frères',
 '/organization/médica-santa-carmen-2',
 '/organization/patrofi̇n',
 '/organization/proděti-cz',
 '/organization/prześwietl-pl',
 '/organization/s lfar-studios',
 '/organization/salão-vip',
 '/organization/sat lite-distribuidora-de-petr leo',
 '/organization/skar -is',
 '/organization/soci t -internationale-de-plantations-d-h v as',
 '/organization/t ximo',
 '/organization/talentsigned\x84 ',
 '/organization/the-vision-lab-®',
 '/organization/thế-giới-di- ộng',
 '/organization/tipcat-interactive-沙  信息科暀',
 '/organization/tío-conejo',
 '/organization/v nder-sports-network',
 '/organization/vacation-bnb™',
 '/organization/vá-de-táxi',
 '/organization/weiche-tech-ŗ ƚ ǧ ɗ ',
 '/organization/weiche-tech-喂车科暀',
 '/organization/white’s-holdings',
 '/organization/whodat\x80 s-spaces',
 '/organization/zengame-ǧ ƹ ǧ ɗ ',
 '/organization/ôasys-2'}

In [33]:
#to marge to dataframe we need similar looking common column
df1=rounds2_data.applymap(lambda x: x.lower() if isinstance(x, str) else x)

df2=companies_data.applymap(lambda x: x.lower() if isinstance(x, str) else x)

6. Merge the two data frames so that all variables (columns) in the company's frame are added
to the rounds2 data frame. Name the merged frame master_dataframe. How many observations
are present in master_frame ?

In [34]:
# type(rounds2_data)
# df1=rounds2_data.columns.str.lower()
# df2=pd.DataFrame(companies_data.columns.str.lower())
# print(df1)
# print(df2.head)
# Merge the two DataFrames using a left join on a common column (e.g., 'company_permalink' in rounds2 and 'permalink' in companies)
master_dataframe = pd.merge(df1, df2, left_on='company_permalink', right_on='permalink', how='left')
print(master_dataframe)
# Count the number of observations in master_dataframe
num_observations = master_dataframe.shape[0]
print("Number of observations in master_dataframe:", num_observations)

                                        company_permalink  \
0                                     /organization/-fame
1                                  /organization/-qounter
2                                  /organization/-qounter
3                     /organization/-the-one-of-them-inc-
4                                   /organization/0-6-com
...                                                   ...
114944                          /organization/zzzzapp-com
114945                          /organization/zzzzapp-com
114946                                /organization/ eron
114947                              /organization/ôasys-2
114948  /organization/ novatiff-reklam-ve-tan t m-hizm...

                                funding_round_permalink funding_round_type  \
0       /funding-round/9a01d05418af9f794eebff7ace91f638            venture
1       /funding-round/22dacff496eb7acb2b901dec1dfe5633            venture
2       /funding-round/b44fbb94153f6cdef13083530bb48030               seed
3       /funding-round/650b8f704416801069bb178a1418776b            venture
4       /funding-round/5727accaeaa57461bd22a9bdd945382d            venture
...                                                 ...                ...
114944  /funding-round/8f6d25b8ee4199e586484d817bceda05   convertible_note
114945  /funding-round/ff1aa06ed5da186c84f101549035d4ae               seed
114946  /funding-round/59f4dce44723b794f21ded3daed6e4fe            venture
114947  /funding-round/35f09d0794651719b02bbfd859ba9ff5               seed
114948  /funding-round/af942869878d2cd788ef5189b435ebc4              grant

       funding_round_code   funded_at  raised_amount_usd  \
0                       b  05-01-2015         10000000.0
1                       a  14-10-2014                NaN
2                     NaN  01-03-2014           700000.0
3                       b  30-01-2014          3406878.0
4                       a  19-03-2008          2000000.0
...                   ...         ...                ...
114944                NaN  01-03-2014            41313.0
114945                NaN  01-05-2013            32842.0
114946                  a  01-08-2014                NaN
114947                NaN  01-01-2015            18192.0
114948                NaN  01-10-2013            14851.0

                                  permalink                    name  \
0                       /organization/-fame                   #fame
1                    /organization/-qounter                :qounter
2                    /organization/-qounter                :qounter
3       /organization/-the-one-of-them-inc-  (the) one of them,inc.
4                     /organization/0-6-com                 0-6.com
...                                     ...                     ...
114944            /organization/zzzzapp-com   zzzzapp wireless ltd.
114945            /organization/zzzzapp-com   zzzzapp wireless ltd.
114946                                  NaN                     NaN
114947                                  NaN                     NaN
114948                                  NaN                     NaN

                  homepage_url  \
0           http://livfame.com
1       http://www.qounter.com
2       http://www.qounter.com
3          http://oneofthem.jp
4           http://www.0-6.com
...                        ...
114944  http://www.zzzzapp.com
114945  http://www.zzzzapp.com
114946                     NaN
114947                     NaN
114948                     NaN

                                            category_list     status  \
0                                                   media  operating
1       application platforms|real time|social network...  operating
2       application platforms|real time|social network...  operating
3                                       apps|games|mobile  operating
4                                             curated web  operating
...                                                   ...        ...
114944        advertising|mobile|web development|wireless  operating
114945        advertising|mobile|web development|wireless  operating
114946                                                NaN        NaN
114947                                                NaN        NaN
114948                                                NaN        NaN

       country_code state_code      region           city  founded_at
0               ind         16      mumbai         mumbai         NaN
1               usa         de  de - other  delaware city  04-09-2014
2               usa         de  de - other  delaware city  04-09-2014
3               NaN        NaN         NaN            NaN         NaN
4               chn         22     beijing        beijing  01-01-2007
...             ...        ...         ...            ...         ...
114944          hrv         15       split          split  13-05-2012
114945          hrv         15       split          split  13-05-2012
114946          NaN        NaN         NaN            NaN         NaN
114947          NaN        NaN         NaN            NaN         NaN
114948          NaN        NaN         NaN            NaN         NaN

[114949 rows x 16 columns]
Number of observations in master_dataframe: 114949

7. Write the code to drop the redundant column ‘'company_permalink' from the
master_dataframe.

In [35]:
# Drop the redundant column 'company_permalink' from master_dataframe
master_dataframe.drop('company_permalink', axis=1, inplace=True)
print(master_dataframe)

                                funding_round_permalink funding_round_type  \
0       /funding-round/9a01d05418af9f794eebff7ace91f638            venture
1       /funding-round/22dacff496eb7acb2b901dec1dfe5633            venture
2       /funding-round/b44fbb94153f6cdef13083530bb48030               seed
3       /funding-round/650b8f704416801069bb178a1418776b            venture
4       /funding-round/5727accaeaa57461bd22a9bdd945382d            venture
...                                                 ...                ...
114944  /funding-round/8f6d25b8ee4199e586484d817bceda05   convertible_note
114945  /funding-round/ff1aa06ed5da186c84f101549035d4ae               seed
114946  /funding-round/59f4dce44723b794f21ded3daed6e4fe            venture
114947  /funding-round/35f09d0794651719b02bbfd859ba9ff5               seed
114948  /funding-round/af942869878d2cd788ef5189b435ebc4              grant

       funding_round_code   funded_at  raised_amount_usd  \
0                       b  05-01-2015         10000000.0
1                       a  14-10-2014                NaN
2                     NaN  01-03-2014           700000.0
3                       b  30-01-2014          3406878.0
4                       a  19-03-2008          2000000.0
...                   ...         ...                ...
114944                NaN  01-03-2014            41313.0
114945                NaN  01-05-2013            32842.0
114946                  a  01-08-2014                NaN
114947                NaN  01-01-2015            18192.0
114948                NaN  01-10-2013            14851.0

                                  permalink                    name  \
0                       /organization/-fame                   #fame
1                    /organization/-qounter                :qounter
2                    /organization/-qounter                :qounter
3       /organization/-the-one-of-them-inc-  (the) one of them,inc.
4                     /organization/0-6-com                 0-6.com
...                                     ...                     ...
114944            /organization/zzzzapp-com   zzzzapp wireless ltd.
114945            /organization/zzzzapp-com   zzzzapp wireless ltd.
114946                                  NaN                     NaN
114947                                  NaN                     NaN
114948                                  NaN                     NaN

                  homepage_url  \
0           http://livfame.com
1       http://www.qounter.com
2       http://www.qounter.com
3          http://oneofthem.jp
4           http://www.0-6.com
...                        ...
114944  http://www.zzzzapp.com
114945  http://www.zzzzapp.com
114946                     NaN
114947                     NaN
114948                     NaN

                                            category_list     status  \
0                                                   media  operating
1       application platforms|real time|social network...  operating
2       application platforms|real time|social network...  operating
3                                       apps|games|mobile  operating
4                                             curated web  operating
...                                                   ...        ...
114944        advertising|mobile|web development|wireless  operating
114945        advertising|mobile|web development|wireless  operating
114946                                                NaN        NaN
114947                                                NaN        NaN
114948                                                NaN        NaN

       country_code state_code      region           city  founded_at
0               ind         16      mumbai         mumbai         NaN
1               usa         de  de - other  delaware city  04-09-2014
2               usa         de  de - other  delaware city  04-09-2014
3               NaN        NaN         NaN            NaN         NaN
4               chn         22     beijing        beijing  01-01-2007
...             ...        ...         ...            ...         ...
114944          hrv         15       split          split  13-05-2012
114945          hrv         15       split          split  13-05-2012
114946          NaN        NaN         NaN            NaN         NaN
114947          NaN        NaN         NaN            NaN         NaN
114948          NaN        NaN         NaN            NaN         NaN

[114949 rows x 15 columns]

8. Write the code to find the percentage missing value (column-wise) in master_dataframe. Drop
unnecessary columns.

In [36]:
# Calculate the percentage of missing values for each column
missing_percentages = (master_dataframe.isnull().sum() / len(master_dataframe)) * 100

#We create a DataFrame called missing_data to store the column names and their corresponding missing percentages.
# Create a DataFrame to display the missing percentages
missing_data = pd.DataFrame({'Column': master_dataframe.columns, 'MissingPercentage': missing_percentages})


# Display the columns with their missing percentages
print(missing_data)

#We sort the missing_info DataFrame in descending order of missing percentages to prioritize columns with higher missing values.
# Sort the columns by missing percentage in descending order
missing_data = missing_data.sort_values(by='MissingPercentage', ascending=False)

#We define a threshold (threshold) for missing values percentage. Columns with missing values exceeding this threshold will be dropped.
# # Define a threshold for missing values
threshold = 50

# # Create a list of columns to drop based on the threshold
columns_to_drop = missing_data[missing_data['MissingPercentage'] > threshold]['Column'].tolist()

# # Drop the unnecessary columns from master_dataframe
master_dataframe.drop(columns=columns_to_drop, inplace=True)


print('After dropping...')
print(master_dataframe)

                                          Column  MissingPercentage
funding_round_permalink  funding_round_permalink           0.000000
funding_round_type            funding_round_type           0.000000
funding_round_code            funding_round_code          72.909725
funded_at                              funded_at           0.000000
raised_amount_usd              raised_amount_usd          17.390321
permalink                              permalink           0.064376
name                                        name           0.065246
homepage_url                        homepage_url           5.393696
category_list                      category_list           3.010900
status                                    status           0.064376
country_code                        country_code           7.578143
state_code                            state_code           9.549452
region                                    region           8.873500
city                                        city           8.870891
founded_at                            founded_at          17.887933
After dropping...
                                funding_round_permalink funding_round_type  \
0       /funding-round/9a01d05418af9f794eebff7ace91f638            venture
1       /funding-round/22dacff496eb7acb2b901dec1dfe5633            venture
2       /funding-round/b44fbb94153f6cdef13083530bb48030               seed
3       /funding-round/650b8f704416801069bb178a1418776b            venture
4       /funding-round/5727accaeaa57461bd22a9bdd945382d            venture
...                                                 ...                ...
114944  /funding-round/8f6d25b8ee4199e586484d817bceda05   convertible_note
114945  /funding-round/ff1aa06ed5da186c84f101549035d4ae               seed
114946  /funding-round/59f4dce44723b794f21ded3daed6e4fe            venture
114947  /funding-round/35f09d0794651719b02bbfd859ba9ff5               seed
114948  /funding-round/af942869878d2cd788ef5189b435ebc4              grant

         funded_at  raised_amount_usd                            permalink  \
0       05-01-2015         10000000.0                  /organization/-fame
1       14-10-2014                NaN               /organization/-qounter
2       01-03-2014           700000.0               /organization/-qounter
3       30-01-2014          3406878.0  /organization/-the-one-of-them-inc-
4       19-03-2008          2000000.0                /organization/0-6-com
...            ...                ...                                  ...
114944  01-03-2014            41313.0            /organization/zzzzapp-com
114945  01-05-2013            32842.0            /organization/zzzzapp-com
114946  01-08-2014                NaN                                  NaN
114947  01-01-2015            18192.0                                  NaN
114948  01-10-2013            14851.0                                  NaN

                          name            homepage_url  \
0                        #fame      http://livfame.com
1                     :qounter  http://www.qounter.com
2                     :qounter  http://www.qounter.com
3       (the) one of them,inc.     http://oneofthem.jp
4                      0-6.com      http://www.0-6.com
...                        ...                     ...
114944   zzzzapp wireless ltd.  http://www.zzzzapp.com
114945   zzzzapp wireless ltd.  http://www.zzzzapp.com
114946                     NaN                     NaN
114947                     NaN                     NaN
114948                     NaN                     NaN

                                            category_list     status  \
0                                                   media  operating
1       application platforms|real time|social network...  operating
2       application platforms|real time|social network...  operating
3                                       apps|games|mobile  operating
4                                             curated web  operating
...                                                   ...        ...
114944        advertising|mobile|web development|wireless  operating
114945        advertising|mobile|web development|wireless  operating
114946                                                NaN        NaN
114947                                                NaN        NaN
114948                                                NaN        NaN

       country_code state_code      region           city  founded_at
0               ind         16      mumbai         mumbai         NaN
1               usa         de  de - other  delaware city  04-09-2014
2               usa         de  de - other  delaware city  04-09-2014
3               NaN        NaN         NaN            NaN         NaN
4               chn         22     beijing        beijing  01-01-2007
...             ...        ...         ...            ...         ...
114944          hrv         15       split          split  13-05-2012
114945          hrv         15       split          split  13-05-2012
114946          NaN        NaN         NaN            NaN         NaN
114947          NaN        NaN         NaN            NaN         NaN
114948          NaN        NaN         NaN            NaN         NaN

[114949 rows x 14 columns]

9. Create a pivot table to compare the mean and median values for ‘raised_amount_usd’ and
‘funding_round_type’ across different funding round categories..

In [37]:
# Create a pivot table to compare mean and median values
pivot_table = master_dataframe.pivot_table(values=['raised_amount_usd'],
                                           index='funding_round_type',
                                           aggfunc={'raised_amount_usd': ['mean', 'median']})

# Reset the column names for the pivot table
pivot_table.columns = ['Mean', 'Median']

# Display the pivot table
print(pivot_table)

                               Mean      Median
funding_round_type
angel                  9.586945e+05    400000.0
convertible_note       1.453439e+06    272000.0
debt_financing         1.704353e+07   1100000.0
equity_crowdfunding    5.383682e+05    100000.0
grant                  4.300576e+06    201684.0
non_equity_assistance  4.112031e+05     60000.0
post_ipo_debt          1.687046e+08  19950000.0
post_ipo_equity        8.218249e+07  12262852.5
private_equity         7.330859e+07  20000000.0
product_crowdfunding   1.363131e+06    183915.0
secondary_market       7.964963e+07  32600000.0
seed                   7.198180e+05    275000.0
undisclosed            1.924237e+07   1018680.0
venture                1.174895e+07   5000000.0

10. Filter the master_dataframe on ‘raised_amount_usd’ such as ‘raised_amount_usd’ lie
between 4 Millions to 15 Millions.

In [38]:
# Filter master_dataframe based on 'raised_amount_usd'
filtered_master_dataframe = master_dataframe[(master_dataframe['raised_amount_usd'] >= 4000000) & (master_dataframe['raised_amount_usd'] <= 15000000)]
print(filtered_master_dataframe)

                                funding_round_permalink funding_round_type  \
0       /funding-round/9a01d05418af9f794eebff7ace91f638            venture
12      /funding-round/e1cfcbe1bdf4c70277c5f29a3482f24e            venture
21      /funding-round/11c228f58831bc7ed337ef69ecc560c2     private_equity
22      /funding-round/b952cbaf401f310927430c97b68162ea            venture
28      /funding-round/0faccbbcc5818dc5326469f13f5a8ac8            venture
...                                                 ...                ...
114921  /funding-round/85443f5438bfd50104b9591eabc95c94              grant
114922  /funding-round/b4fce7f8a13267353d57db09099800e8            venture
114930  /funding-round/c05aab2155e390066d51c6852ff61464              grant
114931  /funding-round/e949f077c943db197f20e43c2eb8d0e6            venture
114936  /funding-round/7ea37c0ff4132b084832039a9380d34e            venture

         funded_at  raised_amount_usd  \
0       05-01-2015         10000000.0
12      19-07-2014          8900000.0
21      01-02-2015          6000000.0
22      17-03-2015          5000000.0
28      09-10-2014          4000000.0
...            ...                ...
114921  26-03-2014          7500000.0
114922  11-07-2013         14219999.0
114930  11-09-2009          5400000.0
114931  09-10-2009          7991547.0
114936  16-12-2004          8500000.0

                                       permalink                         name  \
0                            /organization/-fame                        #fame
12                          /organization/0xdata                       h2o.ai
21      /organization/1-800-publicrelations-inc-  1-800-publicrelations, inc.
22                    /organization/1-mainstream                 1 mainstream
28                 /organization/10-minutes-with              10 minutes with
...                                          ...                          ...
114921                  /organization/zyomyx-inc                       zyomyx
114922                  /organization/zyomyx-inc                       zyomyx
114930            /organization/zyraz-technology             zyraz technology
114931            /organization/zyraz-technology             zyraz technology
114936                      /organization/zystor                       zystor

                              homepage_url  \
0                       http://livfame.com
12                          http://h2o.ai/
21      http://www.1800publicrelations.com
22              http://www.1mainstream.com
28                http://10minuteswith.com
...                                    ...
114921               http://www.zyomyx.com
114922               http://www.zyomyx.com
114930                http://www.zyraz.com
114931                http://www.zyraz.com
114936               http://www.zystor.com

                                    category_list     status country_code  \
0                                           media  operating          ind
12                                      analytics  operating          usa
21      internet marketing|media|public relations  operating          usa
22               apps|cable|distribution|software   acquired          usa
28                                      education  operating          gbr
...                                           ...        ...          ...
114921                              biotechnology  operating          usa
114922                              biotechnology  operating          usa
114930                              biotechnology     closed          mys
114931                              biotechnology     closed          mys
114936                              biotechnology   acquired          usa

       state_code         region                   city  founded_at
0              16         mumbai                 mumbai         NaN
12             ca    sf bay area          mountain view  01-01-2011
21             ny  new york city               new york  24-10-2013
22             ca    sf bay area              cupertino  01-03-2012
28             h9         london                 london  01-01-2013
...           ...            ...                    ...         ...
114921         mo     mo - other                fremont  01-01-1998
114922         mo     mo - other                fremont  01-01-1998
114930         14    mys - other  damansara new village  01-01-1994
114931         14    mys - other  damansara new village  01-01-1994
114936         wi      milwaukee              milwaukee         NaN

[22214 rows x 14 columns]

11.Identify the top 9 countries in terms of highest investment in ‘venture’ fund type.

In [39]:
# Filter the data for 'venture' fund type
venture_investments = filtered_master_dataframe[filtered_master_dataframe['funding_round_type'] == 'venture']

# Group the data by country and calculate total investment
country_investment = venture_investments.groupby('country_code')['raised_amount_usd'].sum()

# Sort the countries by total investment in descending order
top_countries = country_investment.sort_values(ascending=False)

# Select the top 9 countries
top_9_countries = top_countries.head(9)

# Print the top 9 countries and their total investments
print("Top 9 Countries in terms of Highest Investment in 'venture' Fund Type:")
print(top_9_countries)

Top 9 Countries in terms of Highest Investment in 'venture' Fund Type:
country_code
usa    1.168035e+11
gbr    5.911114e+09
chn    5.285901e+09
can    3.921378e+09
ind    3.198888e+09
isr    3.144287e+09
fra    2.464166e+09
deu    1.908883e+09
swe    7.282285e+08
Name: raised_amount_usd, dtype: float64

12. Create the ‘main_category’ column by extracting the main sector using the column
‘category_list’.
Hint - Use the Lambda function or string function

In [42]:
#We use the apply function on the 'category_list' column to apply a lambda function to each row.

#Inside the lambda function, we use the split('|') method to split the categories by the '|' delimiter, assuming that '|' separates different categories in the 'category_list'.

#We then take the first element of the split result as the main category using [0].

#We use isinstance(x, str) to check if the value in the 'category_list' column is a string to handle cases where it might be missing or not provided. If it's not a string (e.g., NaN values), we assign None to the 'main_category' column for those rows.

This code will create a new 'main_category' column in your DataFrame containing the extracted main sectors.
# Extract the main category from the 'category_list' column
companies_data['main_category'] = companies_data['category_list'].apply(lambda x: x.split('|')[0] if isinstance(x, str) else None)

# Display the updated DataFrame
print(companies_data)

                                               permalink  \
0                                    /Organization/-Fame
1                                 /Organization/-Qounter
2                    /Organization/-The-One-Of-Them-Inc-
3                                  /Organization/0-6-Com
4                         /Organization/004-Technologies
...                                                  ...
66363  /Organization/Zznode-Science-And-Technology-Co...
66364                          /Organization/Zzzzapp-Com
66365                               /Organization/ÃEron
66366                             /Organization/Ã”Asys-2
66367  /Organization/Ä°Novatiff-Reklam-Ve-Tanä±Tä±M-H...

                                                name  \
0                                              #fame
1                                           :Qounter
2                             (THE) ONE of THEM,Inc.
3                                            0-6.com
4                                   004 Technologies
...                                              ...
66363                  ZZNode Science and Technology
66364                          Zzzzapp Wireless ltd.
66365                                         ÃERON
66366                                         Ã”asys
66367  Ä°novatiff Reklam ve TanÄ±tÄ±m Hizmetleri Tic

                            homepage_url  \
0                     http://livfame.com
1                 http://www.qounter.com
2                    http://oneofthem.jp
3                     http://www.0-6.com
4      http://004gmbh.de/en/004-interact
...                                  ...
66363              http://www.zznode.com
66364             http://www.zzzzapp.com
66365               http://www.aeron.hu/
66366               http://www.oasys.io/
66367               http://inovatiff.com

                                           category_list     status  \
0                                                  Media  operating
1      Application Platforms|Real Time|Social Network...  operating
2                                      Apps|Games|Mobile  operating
3                                            Curated Web  operating
4                                               Software  operating
...                                                  ...        ...
66363                                Enterprise Software  operating
66364        Advertising|Mobile|Web Development|Wireless  operating
66365                                                NaN  operating
66366  Consumer Electronics|Internet of Things|Teleco...  operating
66367                 Consumer Goods|E-Commerce|Internet  operating

      country_code state_code                 region           city  \
0              IND         16                 Mumbai         Mumbai
1              USA         DE             DE - Other  Delaware City
2              NaN        NaN                    NaN            NaN
3              CHN         22                Beijing        Beijing
4              USA         IL  Springfield, Illinois      Champaign
...            ...        ...                    ...            ...
66363          CHN         22                Beijing        Beijing
66364          HRV         15                  Split          Split
66365          NaN        NaN                    NaN            NaN
66366          USA         CA            SF Bay Area  San Francisco
66367          NaN        NaN                    NaN            NaN

       founded_at          main_category
0             NaN                  Media
1      04-09-2014  Application Platforms
2             NaN                   Apps
3      01-01-2007            Curated Web
4      01-01-2010               Software
...           ...                    ...
66363         NaN    Enterprise Software
66364  13-05-2012            Advertising
66365  01-01-2011                   None
66366  01-01-2014   Consumer Electronics
66367         NaN         Consumer Goods

[66368 rows x 11 columns]

13. Using the user defined function convert the ‘rasied_amount_used’ column into a categorical
column as followa) If the amount is less than 5 Millions then recode as TypeA.
b) If the amount is greater than 5 Millions and less than 7 Millions then recode as TypeB.
c) If the amount is greater than 7 Millions then recode as TypeC.

In [43]:
# Define a function to categorize 'raised_amount_usd' values
def categorize_amount(raised_amount_usd):
    if raised_amount_usd < 5000000:
        return 'TypeA'
    elif 5000000 <= raised_amount_usd < 7000000:
        return 'TypeB'
    else:
        return 'TypeC'

# Apply the categorization function to create the 'amount_category' column
filtered_master_dataframe['amount_category'] = filtered_master_dataframe['raised_amount_usd'].apply(categorize_amount)

# Display the DataFrame with the new 'amount_category' column
print(filtered_master_dataframe[['raised_amount_usd', 'amount_category']])

        raised_amount_usd amount_category
0              10000000.0           TypeC
12              8900000.0           TypeC
21              6000000.0           TypeB
22              5000000.0           TypeB
28              4000000.0           TypeA
...                   ...             ...
114921          7500000.0           TypeC
114922         14219999.0           TypeC
114930          5400000.0           TypeB
114931          7991547.0           TypeC
114936          8500000.0           TypeC

[22214 rows x 2 columns]

C:\Users\SUSMITA MANNA\AppData\Local\Temp\ipykernel_21160\2602123413.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_master_dataframe['amount_category'] = filtered_master_dataframe['raised_amount_usd'].apply(categorize_amount)